body {
    background: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    border-color: white;
}
.about img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #ffffff;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    border-color: #ffffff;
}
.project:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
}
.project {
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project h2 {
    color: rgb(88, 255, 32);
    text-decoration: none;
}
a {
    text-decoration: none;
}
